*
!.git
!.dockerignore
!.github/workflows/main.yml
!.gitignore
!.gitmodules
!.urignore
!Dockerfile.test
!LICENSE
!README.ipynb
!README.md
!_gist/__init__.py
!_github/__init__.py
!_gitlab/__init__.py
!cache-root-test.ipynb
!cells.py
!examples/abcd_gist
!gist/__init__.py
!gists-test.ipynb
!gists/__init__.py
!github-import-test.ipynb
!github/__init__.py
!gitlab-import-test.ipynb
!ignore_tests/.urignore
!ignore_tests/allowlist/.urignore
!ignore_tests/allowlist/a.ipynb
!ignore_tests/allowlist/b.ipynb
!ignore_tests/allowlist/c.py
!ignore_tests/allowlist/d.py
!ignore_tests/blocklist/.urignore
!ignore_tests/blocklist/g1.ipynb
!ignore_tests/blocklist/g2.ipynb
!ignore_tests/blocklist/h1.py
!ignore_tests/blocklist/h2.py
!ignore_tests/blocklist/i.py
!ignore_tests/blocklist/j1.ipynb
!ignore_tests/blocklist/j2.ipynb
!ignore_tests/ignored/e.py
!ignore_tests/ignored/f.ipynb
!import-support-table.ipynb
!importer.py
!local-nested-import-pkgs-test.ipynb
!local-nested-import-pkgs-wildcard-test.ipynb
!local-nested-import-test.ipynb
!make-dockerignore.py
!mutating-notebook-test
!nb.py
!node.py
!opts.py
!pclass/dircache.py
!pclass/field.py
!pclass/loader.py
!reimport-test.ipynb
!remote-nested-import-test.ipynb
!rgxs.py
!runtests.ipynb
!runtests.py
!setup.cfg
!setup.py
!tests/test_pclass.py
!ur.py
!urignore-test.ipynb
!urignore.py
!url-import-test.ipynb
!url.py
!url_loader.py
